In [1]:
import os
import pandas as pd
from category_encoders.one_hot import OneHotEncoder
from matplotlib import pyplot as plt
import numpy as np
import itertools
from sklearn.model_selection import train_test_split
import seaborn as sns
import warnings  
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from matplotlib.axes import Axes
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import RFECV
from sklearn.feature_selection import RFE
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import VarianceThreshold
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from collections import Counter
from sklearn.metrics import confusion_matrix
import time

In [2]:
# training data import
os.chdir("C:\\Users\\LYC\\Desktop\\SFU\\Fall 2020 Courses\\STAT 440\\Module 2")

x_train = pd.read_csv("x_train_preprocessed.csv")
y_train = pd.read_csv("y_train_preprocessed.csv")
x_test = pd.read_csv("x_test_preprocessed.csv")

In [3]:
y_test = pd.read_csv("Ytest.txt", delimiter = ',')

In [4]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [100, 150, 200]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, random_state=1, n_jobs = -1)

rf_random.fit(x_train,y_train)
rf_random.best_params_

C:\Users\LYC\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:278: UserWarning: The total space of parameters 27 is smaller than n_iter=100. Running 27 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

In [9]:
model = RandomForestRegressor(n_estimators = , min_samples_split = , min_samples_leaf = , n_iter = 100, random_state = 1, n_jobs = -1)

RandomizedSearchCV(estimator=RandomForestRegressor(), n_iter=100, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 150, 200]},
                   random_state=1)

In [ ]:
model.fit(x_train,y_train)

y_predab = model.predict(x_test)

ValueError: Unable to coerce to DataFrame, shape must be (153287, 16): given (50000, 16)

In [23]:
y_test[['Id','Column']] = y_test.Id.str.split(":", expand = True)

,Unnamed: 0,Id,Z01,Z02,Z03,Z04,Z05,Z06,Z07,Z08,Z09,Z10,Z11,Z12,Z13,Z14
0,0,2,0.000804,1.0,-0.690854,-0.097983,1.596819,2.811465,-0.288238,-1.332324,0.525250,0.331350,-0.009761,0.864470,0.776477,54.487331
1,1,3,0.073445,0.0,2.779953,-0.003554,1.306106,-0.538724,-1.943584,-0.027425,0.222504,-0.047518,0.063107,0.766641,0.624055,63.351648
2,2,4,0.042891,1.0,0.273351,0.030700,-1.537983,-0.083806,0.843982,-0.298859,0.039860,-0.048459,-0.031156,0.357999,0.657927,27.984377
3,3,5,0.118081,1.0,-0.332309,-0.046811,-0.174755,-0.192151,0.014280,0.932137,0.221353,-0.024971,0.056017,0.711032,0.137043,31.723970
4,4,7,0.842596,1.0,-0.063383,-0.032474,-1.999459,-1.372546,0.229115,-0.070465,0.226894,0.034162,-0.034993,0.231087,0.957418,20.746050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153282,153282,177724,0.342117,0.0,-0.015132,-0.028353,-1.999120,-2.046076,0.580111,-0.038976,0.613770,0.032973,0.010993,0.881066,0.749570,27.694972
153283,153283,177725,0.528879,1.0,2.843779,-0.042692,1.347506,0.543177,-0.009792,-0.664959,0.642203,0.120058,-0.015530,0.576189,0.665041,52.121633
153284,153284,177727,0.354360,0.0,-0.714900,-0.035376,0.295152,0.563310,-0.297135,-0.324943,0.120539,-0.027465,0.059866,0.876775,0.769403,44.816572
153285,153285,177729,0.055725,1.0,2.930418,-0.035298,-0.750638,-0.417398,-0.834321,-0.290119,0.646948,0.037867,-0.019801,0.097272,0.724350,44.493523
153286,153286,177730,0.011248,1.0,-1.219223,-0.031625,-0.044655,-0.871497,0.019818,-1.087604,0.174270,-0.030891,-0.024877,0.459623,0.664744,24.630694

In [134]:
y_test_id = y_test["Id"]

In [135]:
y_test_id = np.array(y_test_id)

In [136]:
y_test_id = y_test_id.astype('int')

In [104]:
y_test_column = y_test["Column"]

           Id Value Column
0           1     ?    Z04
1           6     ?    Z02
2           9     ?    Z13
3          12     ?    Z09
4          13     ?    Z14
...       ...   ...    ...
49995  177717     ?    Z13
49996  177718     ?    Z01
49997  177726     ?    Z02
49998  177728     ?    Z04
49999  177731     ?    Z13

[50000 rows x 3 columns]

In [58]:
sub = pd.DataFrame(y_predab)

In [59]:
sub = sub.drop(sub.columns[0:2], axis=1)

In [62]:
column_names = y_train.columns

In [64]:
column_names = column_names[2:]

In [66]:
sub.columns = column_names

,Z01,Z02,Z03,Z04,Z05,Z06,Z07,Z08,Z09,Z10,Z11,Z12,Z13,Z14
0,0.281834,0.59,0.155419,-0.021458,0.014717,-0.239834,0.104667,-0.148449,0.433859,0.027903,0.010327,0.547422,0.475532,36.476940
1,0.264953,0.47,0.093489,-0.026844,0.214253,-0.273897,0.079918,-0.229333,0.473654,0.034559,0.013526,0.585962,0.432452,37.951354
2,0.267690,0.69,-0.081625,-0.011352,-0.218937,-0.127783,0.575900,-0.249013,0.474269,0.026537,0.000316,0.473513,0.463160,30.858601
3,0.295097,0.63,-0.047417,-0.015732,-0.133976,-0.208214,0.425654,-0.180185,0.467315,0.025369,0.002450,0.495819,0.457654,32.300220
4,0.268376,0.69,-0.166165,-0.007038,-0.100707,-0.182427,0.348080,-0.360408,0.443356,0.028203,0.001165,0.509802,0.441353,32.550345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0.500673,0.46,-0.118127,-0.046873,-0.000497,-0.018481,-0.205631,-0.099690,0.483176,0.079938,-0.013780,0.519849,0.515652,40.975337
49996,0.509502,0.48,-0.156479,-0.048193,0.040656,-0.180579,-0.153498,0.021098,0.495606,0.078648,-0.008881,0.543128,0.503925,40.205311
49997,0.552785,0.44,-0.184466,-0.039999,-0.041269,-0.011988,-0.119685,0.154713,0.512796,0.045367,-0.008548,0.516595,0.508422,40.934500
49998,0.481241,0.44,0.004251,-0.027026,-0.072188,-0.048283,-0.130954,-0.096844,0.508652,0.052470,-0.014495,0.490885,0.502922,39.760662
49999,0.530033,0.46,0.080775,-0.038731,0.094097,-0.080513,-0.315560,-0.109420,0.506686,0.055580,-0.025686,0.484166,0.503686,40.955721

In [163]:
prediction = pd.Series()

<ipython-input-163-396f82920953>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  prediction = pd.Series()

In [164]:
for i in range(len(y_test_id)):
    prediction2 = sub.loc[i:i, y_test_column[i]]
    prediction = pd.concat([prediction, prediction2], axis=0)

In [145]:
y_test_id = pd.Series(y_test_id)

In [166]:
prediction = pd.concat([y_test_id,prediction], axis=1)

In [168]:
prediction.columns = ['Id','Value']

In [171]:
prediction.to_csv('kaggle_submission.csv')